<div class="row">
  <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
    <h1>Thème Des Livres</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
      ea commodo consequat.<br></p>
    <button class="btn btn-light btn-lg action-button" type="button" [routerLink]="['/book/all']"
      routerLinkActive="router-link-active">Lire Plus<i class="fa fa-long-arrow-right ml-2"></i></button>
  </div>
  <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
    <div class="iphone-mockup">
      <img class="device" src="../../../../assets/images/livres.jpg">
    </div>
  </div>
</div>
